Repository WeakAuras/WeakAuras2, pull requests merged in 2019-12, with the labels that each got.

#1864 reposition children of dynamic group on unitframes on GETFRAME_REFRES…
  WeakAuras/RegionTypes/DynamicGroup.lua
Labels: 👩‍🔬 Work in Progress

#1839 Re-add Range Check to Classic.
  .pkgmeta-classic
  WeakAuras/Prototypes.lua
  WeakAuras/Types.lua
  WeakAuras/embeds.xml
Labels: ⚰️Classic, 🎨 Enhancement

#1863 Classic totem
  .pkgmeta-classic
  WeakAuras/Prototypes.lua
  WeakAuras/embeds.xml
  WeakAurasTemplates/TriggerTemplatesData.lua
Labels: ⏱ Awaiting Review, ⚰️Classic
